/* css conf */
:root{
  --primary-color: #fff;
  --secondary-color: #31DAA7;
  --secondary-color-shade: #93e8ce;
  --black-color:#101010;
  --main-padding: 30rem;
  --font-color:#000;
  --font-color-shade:#5A5A5A;

  --light-secondary-color:#31daa7;
  --light-font-color-shade:#5a5a5a;
  --light-primary-color:#fff;
  --light-font-color:#000;
  --dark-primary-color:#1b1b1b;
  --dark-secondary-color: #31daa3;
  --dark-font-color:#fff;
  --dark-font-color-shade:#ededed;
}

*{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

body{
  background-color: var(--primary-color);
  color: var(--font-color);
}

.section-title{
  font-size: 3rem;
  font-weight:500;
  color: var(--font-color-shade);
  text-transform: uppercase;
  border-bottom: 4px solid var(--secondary-color);
  width: fit-content;
  margin-bottom: 4rem;
}


/* main styling */
/* navbar */
header{
  height: 100vh;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px var(--main-padding);
  color: var(--font-color);
}

.navbar h2{
  font-size: 4rem;
  font-weight:600;
  letter-spacing: 2%;
}

.navbar h2 span{
  color: var(--secondary-color);
}
.navbar ul{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar .nav-item{
  padding: 5px 2rem;
  border-radius: 10px;
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 500;
}

.navbar .nav-item:hover{
  background-color: var(--secondary-color-shade);
  color: #fff;
}

.nav-item.active{
  background-color: var(--secondary-color);
  color: #fff;
}

#theme{
  border: none;
  outline: none;
  background: none;
  padding: 5px 2rem;
  border-radius: 10px;
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 500;
}

#theme i{
  margin-right: 1rem;
}

/* navbar close */
/* hero */
#hero{
  padding: 0 var(--main-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero-left{
  flex-basis: 50%;
}

.hero-left .hero-name{
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
  width: fit-content;
  margin-bottom: 2rem;
}

.hero-left h3{
  font-size: 4rem;
  font-weight: 500;
  line-height: 100.5%;
  margin-bottom: 1rem;
}

.hero-left .description{
  font-size: 2rem;
  font-weight: 400;
  color: var(--font-color-shade);

}

.cta{
  padding: 10px 2rem;
  font-size: 2rem;
  font-weight: 400;
  border-radius: 8px;
}

.hero-left .hero-cta{
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.hero-left .hero-cta .hire-me-cta, .hero-left .hero-cta .download-resume-cta{
  background-color: var(--secondary-color);
  color: #fff;
  border: 2px solid var(--secondary-color);
  transition: all .5s ease-in-out;
}

.hero-left .hero-cta .hire-me-cta:hover, .hero-left .hero-cta .download-resume-cta:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.hero-right{
  /* position: relative; */
}

.hero-right img{
  width: 40rem;
  border-radius: 81% 19% 45% 55% / 65% 30% 70% 35% ;
  /* transform: rotateY(180deg); */
  background-color: var(--secondary-color);
  animation-name: shake;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  
}

@keyframes shake{
  0%{
    border-radius: 81% 19% 45% 55% / 65% 30% 70% 35% ;
  }

  50%{
    border-radius: 78% 22% 57% 43% / 61% 36% 64% 39% ;
  }

  100%{
    border-radius: 81% 19% 45% 55% / 65% 30% 70% 35% ;
  }

}

.hero-right .rounded-box{
  position: relative;
  /* overflow-x: hidden; */
  width: 40rem;
  height: 30rem;
  background-color: var(--black-color);
  border-radius: 81% 19% 45% 55% / 65% 30% 70% 35% ;
}
/* hero close */

/* project */
#project{
  padding: 0 var(--main-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

.projects .project{
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--secondary-color);
  overflow: hidden;
}

.project .project-top img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project .project-body{
  padding: 2rem;
}
.project .project-body .project-name{
  font-size: 2rem;
  color: var(--secondary-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

.project .project-body .project-description{
  color: var(--font-color-shade);
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.project .project-body .go-to-project-cta{
  display: inline-block;
  padding: 4px 0;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
  border-radius: 3px;
  border: 2px solid var(--secondary-color);
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
}

.project .project-body .go-to-project-cta:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* project close */
/* about me  */
#about-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  padding: 0 var(--main-padding);
}

.about-me-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-pic{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
  box-shadow:  0 0 5px var(--secondary-color);
  object-fit: cover;
}

.about-name{
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
}

.about-description{
  /* width: 100%; */
  font-size: 1.8rem;
  /* max-width: 60rem; */
  text-align: center;
}

.skill-container{
  width: 100%;
  margin-top: 2rem;
}

.skill-container h2{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;

}

.skill-container .skill{
  margin-top: 2rem;
}
.skill-container .skill .skill-name{
  font-size: 1.5rem;
  /* color: #dd0e0e; */
  margin-bottom: 1rem;
}
.skill-container .skill .skill-bar{
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #a9a9a9;
}

.skill-container .skill .skill-bar .bar{
  width: 90%;
  border-radius: 10px;
  height: 100%;
  /* background-color: #dd0e0e; */
  animation-name: skill-grow;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes skill-grow {
  
  
}

/* about me close */

/* contact me */
#contact-me{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  padding: 0 var(--main-padding);
  align-items: center;
  
}

.contact-box{
  display: flex;
  gap: 4rem;
  height: 100%;
  width: 100%;
}

.contact-box img{
  width: 40rem;
  object-fit: cover;
  border-radius: 3px;
}

.contact-form{
  width: 100%;
}

.contact-form form .field-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.contact-form form .field-container label{
  font-size: 2rem;
}

.contact-form form .field-container input, .field-container textarea{
  font-size: 2rem;
  border-radius: 3px;
  padding: 10px 10px;
  color: #1e1e1e;
  border: 2px solid var(--font-color-shade);
}

.contact-form form .field-container input:focus, .field-container textarea:focus{
  border-color: var(--secondary-color);
  outline: none;
}

.field-container textarea{
  height: 20rem;
}

.contact-form-submit{
  width: 100%;
  border-radius: 3px;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 0;
  margin-top: 2rem;
  font-size: 2rem;
  border: 2px solid var(--secondary-color);
  transition: all 0.5s ease-in-out;
}
.contact-form-submit:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.social-media-handle{
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
}

.social-media-handle a img{
  width: 4rem;
  border-radius: 50%;
}


/* contact me close */
/* footer */
.footer-hr{
  margin-top: 4rem;
}
footer{
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px var(--main-padding);
}

footer .social-media{
  display: flex;
  gap: 2rem;
}

footer .social-media a {
  font-size: 2rem;
  color: var(--font-color-shade);
}

footer p{
  font-size: 1.5rem;
  color: var(--font-color-shade);

}
/* footer close */


/* Responsive Styles */
@media (max-width: 768px) {
  :root{
    --main-padding:1rem;
  }
  html{
    font-size: 55%;
  }

  .navbar{
    flex-direction: column;
  }

  header{
    height: fit-content;
    margin-bottom: 10rem;
  }

  #hero{
    /* flex-direction: column; */
    /* margin-top: 10rem; */
    flex-direction: column-reverse;
    gap: 0;
  }



  .projects {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .contact-box img{
    display: none;
  }

  .contact-box{
    width: 100%;
    flex-direction: column;
  }
  
  .contact-form form .field-container{
    width: 100%;
  }

}

@media (max-width:468px){
  html{
    font-size: 45%;
  }
}